/* *************** 
Tables
****************** */

//th {font-weight:bold;background:#656565;color:white;}
//th,td,caption {padding:4px 10px 4px 5px;}

//tbody tr:nth-child(even) td {background:#E6E6E6;}
//tbody tr:hover td {background:#F6F6F6;}

tfoot {font-style:italic;}
caption {text-align:left;background:#F6F6F6;}

/*Clases*/
.margin {border:10px;color:#000000;margin-bottom:1.4em;}
.highlight:hover td {background:#F6F6F6; }
